{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <table class="table table-sm table-hover table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Key</th>
                    <th scope="col" class="text-right">Camelot</th>
                    <th scope="col" class="text-right">Duration</th>
                    <th scope="col" class="text-right">BPM</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for song in song_list %}
                <tr onclick="">
                    <td>{{ song.title }}</a></td>
                    <td><a href="{{ path('song_search_artist', {'query':song.artist}) }}">{{ song.artist }}</a></td>
                    <td>{{ song.key }}</td>
                    <td class="text-right">{{ song.camelot }}</td>
                    <td class="text-right">{{ song.duration }}</td>
                    <td class="text-right">{{ song.bpm }}</td>
                    <td class="text-center">
                        <a href="{{ path('song_delete', {'id':song.id|trans}) }}" onclick="return confirm('Are you sure?');">
                            <button type="button" class="btn btn-danger" aria-label="Delete">
                                <span class="far fa-trash-alt" aria-hidden="true"></span>
                            </button>
                        </a>
                        <a href="{{ path('song_edit', {'id':song.id|trans}) }}">
                            <button type="button" class="btn btn-warning" aria-label="Edit">
                                <span class="far fa-edit" aria-hidden="true"></span>
                            </button>
                        </a>
                        <a href="{{ path('song_edit', {'id':song.id|trans}) }}">
                            <button type="button" class="btn btn-success" aria-label="View">
                                <span class="far fa-eye" aria-hidden="true"></span>
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
