{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <i>Title</i>
            </div>
            <div class="col-2">
                <i>Artist</i>
            </div>
            <div class="col-1">
                <i>Key</i>
            </div>
            <div class="col-1">
                <i>Camelot</i>
            </div>
            <div class="col-1">
                <i>Duration</i>
            </div>
            <div class="col-1 text-right">
                <i>BPM</i>
            </div>
            <div class="col-3 text-center">
                <i>Action</i>
            </div>
        </div>
        {% for song in song_list %}
            <div class="row">
                <div class="col-3">
                    <a href="{{ path('song_edit', {'id':song.id|trans}) }}">{{ song.title }}</a>
                </div>
                <div class="col-2">
                    <a href="{{ path('song_search_artist', {'query':song.artist}) }}">{{ song.artist }}</a>
                </div>
                <div class="col-1">
                    {{ song.key }}
                </div>
                <div class="col-1 text-right">
                    {{ song.camelot }}
                </div>
                <div class="col-1 text-right">
                    {{ song.duration }}
                </div>
                <div class="col-1 text-right">
                    {{ song.bpm }}
                </div>
                <div class="col-3 text-center">
                    <a href="{{ path('song_delete', {'id':song.id|trans}) }}" onclick="return confirm('Are you sure?');">
                        <button type="button" class="btn btn-danger" aria-label="Delete">
                            <span class="far fa-trash-alt" aria-hidden="true"></span>
                        </button>
                    </a>
                    <a href="{{ path('song_edit', {'id':song.id|trans}) }}">
                        <button type="button" class="btn btn-warning" aria-label="Edit">
                            <span class="far fa-edit" aria-hidden="true"></span>
                        </button>
                    </a>
                    <a href="{{ path('song_edit', {'id':song.id|trans}) }}">
                        <button type="button" class="btn btn-success" aria-label="View">
                            <span class="far fa-eye" aria-hidden="true"></span>
                        </button>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
